.news-and-events{


    .sub-info {
        margin-bottom: 50px;
    }
    

    .products-header {
        font-weight: 400;
        font-size: 32px !important;
        span {
            font-weight: 700;
        }
    }

}