.protection-plan {
    .protection-header{
        
            padding-top: 5px !important;
            padding-bottom: 10px !important;
            background: #232075 !important;
            
            
        
        
        .header {
            
            font-size: 10px !important;
            margin: 0 !important;
            color: #fff !important;
        }
    }
}

.ui.card>.image, .ui.cards>.card>.image{
    background:#fff;
}