.support-insurance.ui.segment {
    background: rgb(255,161,81);
    background: linear-gradient(90deg, rgba(255,161,81,1) 0%, rgba(255,176,79,1) 46%, rgba(255,188,77,1) 100%);

    .header{
        color: #fff;
    }

    .button {
        color: #fff;
        border-radius: 20px;
    }
}

